
<!-- Start Newsletter Section -->
<section class="pt_medium pb_medium navy-dark-bg m-0 px-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="text-white mb-3 mb-md-0">
                    <h5 class="mb-2">Follow Our Updates!</h5>
                    <p>If you want to get an email from us every time we have a new special offer, then sign up here!</p>
                </div>
            </div>
            <div class="col-md-6">
                <form class="newsletter-form"> 
                        <div class="outline-input">
                            <input class="rounded-0" type="text" required="" placeholder="Enter Email Address">
                        </div>
                        <button type="submit" title="Subscribe" class="btn btn-submit btn-primary rounded-0" name="submit" value="Submit">submit</button>
                    </form>
            </div>
        </div>
    </div>
</section>
<!-- End Newsletter Section -->

<!-- Start Footer Section -->
<footer class="m-0 p-0 footer-style-2">
    <div class="footer-top bg-white border-bottom">
    	<div class="container">
    		<div class="row">
                <div class="col-lg-4 col-md-12">
                	<div class="footer_widget">
                    	<div class="footer-logo fb-title">
                            <a href="#"><img src="assets/images/logo-shopping.png" alt="logo"></a>
                        </div>
                        <div class="fb-iner mb-4">
                        	<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                        </div>
                        <div class="footer-social social_dark">
                        <h6 class="fb-title">Follow Us</h6>
                        <ul>
                            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-google-plus"></i></a></li>
                        </ul>
                    </div>
                    </div>
                    
                </div>
                <div class="col-lg-2 col-sm-3 col-6">
                    <div class="footer_widget">
                        <h6 class="fb-title">CATEGORIES</h6>
                        <div class="fb-iner">
                            <ul class="footer-links">
                                <li><a href="">Fashion Sneakers</a></li>
                                <li><a href="">Jackets</a></li>
                                <li><a href="">Outdoor Shop</a></li>
                                <li><a href="">Pants</a></li>
                                <li><a href="">Shirts &amp; Tops</a></li>
                                <li><a href="">Swim Shop</a></li>
                                <li><a href="">Swimwear</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-3 col-6">
                    <div class="footer_widget">
                        <h6 class="fb-title">MY ACCOUNT</h6>
                        <div class="fb-iner">
                            <ul class="footer-links">
                                <li><a href="">Orders</a></li>
                                <li><a href="">Compare</a></li>
                                <li><a href="">Wishlist</a></li>
                                <li><a href="">Log In</a></li>
                                <li><a href="">Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-3 col-6">
                    <div class="footer_widget">
                        <h6 class="fb-title">POLICY</h6>
                        <div class="fb-iner">
                            <ul class="footer-links">
                                <li><a href="">Return Policy</a></li>
                                <li><a href="">Terms Of Use</a></li>
                                <li><a href="">Security</a></li>
                                <li><a href="">Privacy</a></li>
                                <li><a href="">Sitemap</a></li>
                                <li><a href="">EPR Compliance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-3 col-6">
                    <div class="footer_widget">
                        <h6 class="fb-title">HELP</h6>
                        <div class="fb-iner">
                            <ul class="footer-links">
                                <li><a href="">Payments</a></li>
                                <li><a href="">Shipping</a></li>
                                <li><a href="">Cancellation &amp; Returns</a></li>
                                <li><a href="">FAQ</a></li>
                                <li><a href="">Report Infringement</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-btm bg-white">
    	<div class="container">
    		<div class="row">
                <div class="col-md-4">
                	<div class="contact-box">	
                    	<div class="contact-icon">
                        	<i class="fa fa-map-marker"></i>
                        </div>
                        <div class="contact-wrap">
                        	<p>c/o Ferole College</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                	<div class="contact-box">	
                    	<div class="contact-icon">
                        	<i class="fa fa-phone"></i>
                        </div>
                        <div class="contact-wrap">
                        	<p>+025 2155 3255</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                	<div class="contact-box">	
                    	<div class="contact-icon">
                        	<i class="fa fa-envelope"></i>
                        </div>
                        <div class="contact-wrap">
                        	<a href="#">info@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-last navy-dark-bg">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-7">
                	<div class="copyright">
                    	<p>Copyright © 2024. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-sm-5 text-sm-right">
                	<div class="payment-img">
                        <img src="assets/images/layout/payment.png" alt="payment-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Section -->
