<section class="breadcrumbs-section background_bg" data-img-src="image/checkout-breadcrumbs-img.jpg"
  style="background: url('/assets/images/layout/checkout-breadcrumbs-img.jpg') center center / cover;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="page_title text-center position-relative">
          <h1>Checkout</h1>
          <ul class="breadcrumb justify-content-center">
            <li><a href="index.html">home</a></li>
            <li><a href="#">shop</a></li>
            <li><span>Checkout</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- BILLING INFORMATION -->
<section class="checkout-inner-page">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="card-body">
          <div class="check-tab">
            <div class="checkout-form">
              <form #orderData="ngForm" (ngSubmit)="orderNow(orderData.value)">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="mb-2">First name <span class="required_sign">*</span></label>
                    <input class="form-control required" placeholder="Enter Your Name" value="" type="text" ngModel name="Fname">
                  </div>
                  <div class="form-group col-md-6">
                    <label class="mb-2">Last name <span class="required_sign">*</span></label>
                    <input class="form-control required" placeholder="Enter Your Last Name" value="" type="text" ngModel name="Lname">
                  </div>
                  <div class="form-group col-md-6">
                    <label class="mb-2 mt-3">Email <span class="required_sign">*</span></label>
                    <input class="form-control required" placeholder="Enter Your email" value="" type="email" ngModel name="email">
                  </div>
                  <div class="form-group col-md-6">
                    <label class="mb-2 mt-3">Phone Number <span class="required_sign">*</span></label>
                    <input class="form-control required" placeholder="Enter Your Phone Number" value="" type="text" ngModel name="number">
                  </div>
                  <div class="form-group col-md-6">
                    <label class="mb-2 mt-3">Company name <span class="required_sign">*</span></label>
                    <input class="form-control required" placeholder="Enter Your Company Name" value="" type="text" ngModel name="companyName">
                  </div>
                  <div class="form-group col-md-6">
                    <label class="mb-2 mt-3">Address <span class="required_sign">*</span></label>
                    <input class="form-control required" placeholder="Enter Your Address" value="" type="text" ngModel name="address">
                  </div>
                  <div class="form-group col-md-6">
                    <label class="mb-2 mt-3">Select Your Country <span class="required_sign">*</span></label>
                    <select class="form-control ">
                      <option data-select2-id="3">Select Your Country</option>
                      <option value="1">india</option>
                      <option value="2">china</option>
                      <option value="3">United States (US)</option>
                      <option value="4">United Kingdome (UK)</option>
                      <option value="5">Canada</option>
                      <option value="6">U.A.E</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="mb-2 mt-3">City <span class="required_sign">*</span></label>
                    <input class="form-control required" placeholder="Enter Your City" value="" type="text" ngModel name="city">
                  </div>
                  <div class="form-group col-md-6">
                    <label class="mb-2 mt-3">State <span class="required_sign">*</span></label>
                    <input class="form-control required" placeholder="Enter Your State" value="" type="text" ngModel name="state">
                  </div>
                  <div class="form-group col-md-6">
                    <label class="mb-2 mt-3">Zipcode <span class="required_sign">*</span></label>
                    <input class="form-control required" placeholder="Enter Your Zipcode" value="" type="text" ngModel name="zip" >
                  </div>
                  <div class="d-flex justify-content-between mt-4">
                    <div class="form-check">
                      <label class="mb-2 mt-3">Ship to same address as billing
                        <input class="defult-check" type="checkbox" checked="checked">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                    <div class="form-wizard-buttons text-md-right">
                      <button class="btn btn-primary btn-submit btn-next" type="submit">Continue</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="cart-inner-box box-2 text-center">
          <div class="ci-title">
            <h6>Cart Total</h6>
          </div>
          <!-- <div class="ci-caption">
            <ul>
              <li>Subtotal <span>$237.00</span></li>
              <li>Shipping <span>Free</span></li>
              <li>Coupon Code <span>-$5.00</span></li>
            </ul>
          </div> -->
          <div class="ci-btn">
            <ul>
              <li>Total Order<span>${{totalPrice}}</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- BILLING INFORMATION -->