<!-- START SLIDER SECTION -->
<section class="slider slider-type-3">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="./assets/images/layout/slider-img-4.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption">
                <div class="banner_slide_content text-white">
                  <div class="slider-caption text-right">
                    <h1 class="animation animated fadeInDown">CHRISTMAS SALE</h1>
                    <p class="animation animated fadeInUp">Get up to 50% off your shopping items tomorrow!
                    </p>
                    <a href="shop.html" class="btn btn-primary rounded-0 animation animated fadeInUp">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="/assets/images/layout/slider-img-6.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption">
                <div class="banner_slide_content text-white">
                  <div class="slider-caption">
                    <h1 class="animation animated fadeInDown">SUMMER SALE</h1>
                    <p class="animation animated fadeInUp">Get up to 50% off your shopping items tomorrow!
                    </p>
                    <a href="shop.html" class="btn btn-primary rounded-0 animation animated fadeInUp">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets/images/layout/slider-img-4.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption">
                <div class="banner_slide_content text-white">
                  <div class="slider-caption text-center">
                    <h1 class="animation animated fadeInDown">50% OFF IN ALL PRODUCTS</h1>
                    <p class="animation animated fadeInUp">Get up to 50% off your shopping items tomorrow!
                    </p>
                    <a href="shop.html" class="btn btn-primary rounded-0 animation animated fadeInUp">Shop Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="facility-style-2">
          <div class="facility-box">
            <div class="facility-inner">
              <div class="fb-icon">
                <i class="fa fa-truck"></i>
              </div>
              <div class="fb-text">
                <h5>FREE DELIVERY</h5>
                <span>Worldwide</span>
              </div>
            </div>
          </div>
          <div class="facility-box">
            <div class="facility-inner">
              <div class="fb-icon">
                <i class="fa fa-headphones"></i>
              </div>
              <div class="fb-text">
                <h5>24/ 7 SUPPORT</h5>
                <span>Customer Support</span>
              </div>
            </div>
          </div>
          <div class="facility-box">
            <div class="facility-inner">
              <div class="fb-icon">
                <i class="fas fa-money-check-alt"></i>
              </div>
              <div class="fb-text">
                <h5>PAYMENT</h5>
                <span>Secure System</span>
              </div>
            </div>
          </div>
          <div class="facility-box">
            <div class="facility-inner">
              <div class="fb-icon">
                <i class="fa fa-trophy"></i>
              </div>
              <div class="fb-text">
                <h5>TRUSTED</h5>
                <span>enuine Products</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- START SLIDER SECTION -->
<!-- DEALS OF THE DAY -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="left-side-section">
          <!-- Start Deals Section -->
          <div class="products-section pb_small">
            <div class="row">
              <div class="col-12">
                <div class="d-flex justify-content-between mb-4">
                  <div class="title">
                    <h4>Deals of the Day</h4>
                  </div>
                  <div class="same-nav">
                    <a class="btn left" (click)="owlCar.prev()"> <i class="fa fa-angle-left"></i></a>
                    <a class="btn right" (click)="owlCar.next()"> <i class="fa fa-angle-right"></i></a>
                  </div>
                </div>

              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <owl-carousel-o  [options]="customOptions" #owlCar>
                  <ng-container *ngFor="let item of trendy">
                    <ng-template carouselSlide>
                      <div class="item">
                        <div class="product-box common-cart-box">
                          <div class="product-img common-cart-img">
                            <img src="{{item.productURL}}" class="product-height" alt="product-img">
                            <div class="hover-option">
                              <ul class="hover-icon">
                                <li><a routerLink="/details/{{item.id}}"><i class="fa fa-shopping-cart"></i></a></li>
                                <li><a routerLink="/details/{{item.id}}"><i class="fa fa-heart"></i></a></li>
                                <li><a routerLink="/details/{{item.id}}" class="quickview-popup-link"><i class="fa fa-eye"></i></a>
                                </li>
                                <li><a routerLink="/details/{{item.id}}"><i class="fa fa-refresh"></i></a></li>
                              </ul>
                              <ul class="product-color">
                                <li><a href="#" class="blue-dot" [style.backgroundColor]="item.productColor"></a></li>
                                <li><a href="#" class="black-dot"></a></li>
                                <li><a href="#" class="pink-dot"></a></li>
                              </ul>
  
                            </div>
                          </div>
                          <div class="product-info common-cart-info">
                            <a routerLink="/details/{{item.id}}" class="cart-name">{{item.productName}}</a>
                            <div class="product-rate">
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fas fa-star"></i>
                              <i class="fa-solid fa-star-half"></i>
                            </div>
                            <p class="cart-price"><del>$ 90.00</del>$ {{item.productPrice}}</p>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
          <!-- End Deals Section -->
          <!-- Start Testimonial Section -->
          <div class="testimonial-section pt_small pb_small">
            <div class="row">
              <div class="col-md-12">

                <owl-carousel-o  [options]="feedBack" >
                  <ng-template carouselSlide>
                    <div class="item">
                      <div class="fancy-box">
                        <div class="fancy-img">
                          <img src="/assets/images/layout/testimonial-img-2.jpg"
                            alt="testimonial-img">
                        </div>
                        <div class="fancy-wrap">
                          <h5 class="testimonial-title"><a href="#">Williamson</a>
                            <small class="post">Web Developer</small>
                          </h5>
                          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam
                            amet animi blanditiis consequatur debitis dicta distinctio. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta
                            distinctio.</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="item">
                      <div class="fancy-box">
                        <div class="fancy-img">
                          <img src="/assets/images/layout/testimonial-img-1.jpg"
                            alt="testimonial-img">
                        </div>
                        <div class="fancy-wrap">
                          <h5 class="testimonial-title"><a href="#">Williamson</a>
                            <small class="post">Web Developer</small>
                          </h5>
                          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam
                            amet animi blanditiis consequatur debitis dicta distinctio. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta
                            distinctio.</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                  <ng-template carouselSlide>
                    <div class="item">
                      <div class="fancy-box">
                        <div class="fancy-img">
                          <img src="/assets/images/layout/testimonial-img-2.jpg"
                            alt="testimonial-img">
                        </div>
                        <div class="fancy-wrap">
                          <h5 class="testimonial-title"><a href="#">Williamson</a>
                            <small class="post">Web Developer</small>
                          </h5>
                          <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam
                            amet animi blanditiis consequatur debitis dicta distinctio. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. A aliquam amet animi blanditiis consequatur debitis dicta
                            distinctio.</p>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </owl-carousel-o>

              </div>
            </div>
          </div>
          <!-- End Testimonial Section -->
        </div>
      </div>

      <div class="col-lg-3">
        <div class="right-side-section">
          <owl-carousel-o  [options]="poster" >
            <ng-template carouselSlide>
              <div class="shop-hover-style-2">
              <a href="#" class="offer-banner shop-hover">
                <img src="/assets/images/layout/offer-banner-5.jpg" alt="offer-banner">
                <div class="shop-hover-text">
                  <div class="shop-hover-wrap">
                    <h5>Bold Fashion</h5>
                  </div>
                </div>
              </a>
            </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="shop-hover-style-2">
              <a href="#" class="offer-banner shop-hover">
                <img src="/assets/images/layout/offer-banner-5.jpg" alt="offer-banner">
                <div class="shop-hover-text">
                  <div class="shop-hover-wrap">
                    <h5>Man Fashion</h5>
                  </div>
                </div>
              </a>
            </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="shop-hover-style-2">
              <a href="#" class="offer-banner shop-hover">
                <img src="/assets/images/layout/offer-banner-6.jpg" alt="offer-banner">
                <div class="shop-hover-text">
                  <div class="shop-hover-wrap">
                    <h5>Ladies Fashion</h5>
                  </div>
                </div>
              </a>
            </div>
            </ng-template>
          </owl-carousel-o>
          <div class="side-featured-post side-box">
            <div class="side-box-title">
              <h6>Featured Post</h6>
            </div>
            <div class="zoom-img">
              <img src="/assets/images/layout//banner-ads-bc.jpg" alt="banner-ads-bc">
              <a href="#">There are many variations Of Passages </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- DEALS OF THE DAY -->
<!-- Start Blog Section -->
<section class="news-section news-style-2 pb_small">
  <div class="container">
    <div class="row">
      <div class="col-12 p-0">
        <div class="title text-center">
          <h4>LATEST NEWS</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="news-box">
          <div class="news-wrap-img">
            <img src="/assets/images/blog/news-img-13.jpg" alt="news-img">
            <div class="news-date-box text-center text-uppercase">
              <h6>03 <br>Jan</h6>
            </div>
          </div>
          <div class="news-wrap-info">
            <h5><a href="#">Simply tips for beauty</a></h5>
            <p class="news-wrap-tetx">Maecenas semper aliquam massa. Praesent pharetra semvitae nisi eleifend
              molestie.Aliquam molestie scelerisque ultricies.</p>
            <ul class="comments-time">
              <li><a href="#"><i class="fa fa-user"></i>admin</a></li>
              <li><a href="#"><i class="fa fa-comments-o"></i>5 Comments</a></li>
            </ul>
            <a href="#" class="btn btn-primary rounded-0 read-more">read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="news-box">
          <div class="news-wrap-img">
            <img src="/assets/images/blog/news-img-14.jpg" alt="news-img">
            <div class="news-date-box text-center text-uppercase">
              <h6>03 <br>Jan</h6>
            </div>
          </div>
          <div class="news-wrap-info">
            <h5><a href="#">Simply tips for beauty</a></h5>
            <p class="news-wrap-tetx">Maecenas semper aliquam massa. Praesent pharetra semvitae nisi eleifend
              molestie.Aliquam molestie scelerisque ultricies.</p>
            <ul class="comments-time">
              <li><a href="#"><i class="fa fa-user"></i>admin</a></li>
              <li><a href="#"><i class="fa fa-comments-o"></i>5 Comments</a></li>
            </ul>
            <a href="#" class="btn btn-primary rounded-0 read-more">read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="news-box">
          <div class="news-wrap-img">
            <img src="/assets/images/blog/news-img-18.jpg" alt="news-img">
            <div class="news-date-box text-center text-uppercase">
              <h6>03 <br>Jan</h6>
            </div>
          </div>
          <div class="news-wrap-info">
            <h5><a href="#">Simply tips for beauty</a></h5>
            <p class="news-wrap-tetx">Maecenas semper aliquam massa. Praesent pharetra semvitae nisi eleifend
              molestie.Aliquam molestie scelerisque ultricies.</p>
            <ul class="comments-time">
              <li><a href="#"><i class="fa fa-user"></i>admin</a></li>
              <li><a href="#"><i class="fa fa-comments-o"></i>5 Comments</a></li>
            </ul>
            <a href="#" class="btn btn-primary rounded-0 read-more">read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Blog Section -->